---
import { getCollection, CollectionEntry } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import Headline from '../../components/atoms/Headline.astro'
import TipCard from '../../components/tips/TipCard.astro'
import Pagination from '../../components/atoms/Pagination.astro'
import CategoryList from '../../components/tips/CategoryList.astro'
import { formatTipPosts } from '../../lib/helper'

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection('tips')
  const filteredtips: CollectionEntry<'tips'> = formatTipPosts(allPosts)
  
  return paginate(filteredtips, {
    pageSize: 30
  })
}

const { page } = Astro.props
---
<Layout title="Tips" styles="size-wide">
  <div class="tip-wrap">
    <Headline>Tips</Headline>
    <div>
      <CategoryList showCount={true} />
    </div>
    <div class="tip-grid">
      {
        page.data.map(tip => 
          <TipCard
            path={`/tips/${tip.slug}`}
            title={tip.data.title}
            description={tip.data.description}
            image={tip.data.image}
            tags={tip.data.tags}
            date={tip.data.date} />
        )
      }
    </div>
    <div class="text-center m-8">
      <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    </div>
  </div>
</Layout>

<style>
  .tip {
    &-wrap {
      max-width: var(--screen-size--base);
      margin: 0 auto;
      padding: 0 2rem;
    }
    &-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: var(--theme-grid-gap);
      margin: 0 0 var(--theme-grid-gap) 0;
    }
  }
</style>
