---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer"
import { contentfulClient } from "../../lib/contentful"
import Layout from '../../layouts/Layout.astro'
import Aboutme from '../../components/about/Aboutme.astro'
import Profile from '../../components/about/Profile.astro'
import Social from '../../components/about/Social.astro'
import Introduce from '../../components/about/Introduce.astro'
import ButtonLink from '../../components/atoms/ButtonLink.astro'

import type { Document } from "@contentful/rich-text-types"
import type { ServiceType } from '../../components/about/Introduce.astro'
import type { SocialType } from '../../components/about/Social.astro'

import metaData from '../../data/meta.json'

interface StudioAlexUsers {
  name: string,
  nickname: string,
  about: Document,
  profile: Document,
  email: string,
  social: SocialType[]
  services: ServiceType[]
}

export function getStaticPaths() {
  return metaData.persons.staticPaths
}

const { user } = Astro.params
const person = await contentfulClient.getEntry<StudioAlexUsers>(metaData.persons.idlist[user])
const path = `/${person.fields.nickname.toLowerCase()}/uses`
---
<Layout
  title={`${metaData.title} - ${person.fields.nickname}`}
  styles="flex"
  backgroundClass="background--praha">
  <Aboutme
    image={`/images/person/${person.fields.nickname.toLowerCase()}.png`} />
  <Profile
    name={person.fields.name}
    description={documentToHtmlString(person.fields.about)}>
    <Social list={person.fields.social} />
    <div class="text-center">
      <ButtonLink path={path} />
    </div>
    <Introduce
      email={person.fields.email}
      profile={documentToHtmlString(person.fields.profile)} 
      services={person.fields.services}
      usesPath={path}/>
  </Profile>
</Layout>
