---
import Layout from '../../layouts/Layout.astro'
import ProfileImage from '../../components/about/ProfileImage.astro'
import Profile from '../../components/about/Profile.astro'
import Social from '../../components/about/Social.astro'
import Introduce from '../../components/about/Introduce.astro'
import ButtonLink from '../../components/atoms/ButtonLink.astro'

import siteData from '../../data/site.json'
import personsData from '../../data/persons.json'

export function getStaticPaths() {
  return personsData.map(record => ({ params: { user: record.path } }))
}

const { user } = Astro.params
const person = personsData.filter(record => record.path === user)[0]
const path = `/${person.nickname.toLowerCase()}/uses`
---
<Layout
  title={`${siteData.meta.title} - ${person.nickname}`}
  styles="flex"
  backgroundClass="background--praha">
  <ProfileImage
    path={`/images/person/${person.nickname.toLowerCase()}.png`} />
  <Profile
    name={person.name}
    description={person.about}>
    <Social list={person.social} />
    <div class="text-center">
      <ButtonLink path={path} />
    </div>
    <Introduce
      email={person.email}
      profile={person.profile} 
      services={person.services}
      usesPath={path}/>
  </Profile>
</Layout>
