---
import Layout from '../../layouts/Layout.astro'
import Headline from '../../components/atoms/Headline.astro'
import Paragraph from '../../components/atoms/Paragraph.astro'
import Uses from '../../components/uses/Uses.astro'
import Hardware from '../../components/uses/Hardware.astro'
import ButtonLink from '../../components/atoms/ButtonLink.astro'
import Ruler from '../../components/atoms/Ruler.astro'

import metaData from '../../data/meta.json'
import personsData from '../../data/persons.json'

export function getStaticPaths() {
  return personsData.map(record => ({ params: { user: record.path } }))
}

const { user } = Astro.params
const person = personsData.filter(record => record.path === user)[0]
const path = `/${person.nickname.toLowerCase()}/about`
---
<Layout title={`${metaData.title} - ${person.nickname} uses`} styles="size-small">

  <Headline>{`${person.nickname} uses`}</Headline>

  <Paragraph>
    There are times where people ask me about what software or gear I am using.
    <br />This page will serve as a living document for people to always know the latest and greatest.
  </Paragraph>

  <div class="text-center m-10">
    <ButtonLink path={path} />
  </div>

  <Ruler />

  <Hardware list={person.hardware} />

  {person.uses.map(item => (
    <Uses title={item.title} data={item.items} />
  ))}

  <Paragraph>
    This page is inspired from <a href="https://wesbos.com/uses" target="_blank">Wes Bos' Uses page</a>.
  </Paragraph>
</Layout>
