---
import { contentfulClient } from "../../lib/contentful"
import Layout from '../../layouts/Layout.astro'
import Headline from '../../components/atoms/Headline.astro'
import Paragraph from '../../components/atoms/Paragraph.astro'
import Uses from '../../components/uses/Uses.astro'
import Hardware from '../../components/uses/Hardware.astro'
import ButtonLink from '../../components/atoms/ButtonLink.astro'
import Ruler from '../../components/atoms/Ruler.astro'

import type { HardwareType } from '../../components/uses/Hardware.astro'
import metaData from '../../data/meta.json'

interface UsesItemsType {
  title: string,
  description: string,
  image: string,
  link: string
}

interface UsesType {
  title: string,
  description: string,
  items: UsesItemsType[]
}

interface StudioAlexUsers {
  name: string,
  nickname: string,
  uses: UsesType[]
  hardware: HardwareType[]
}

export function getStaticPaths() {
  return metaData.persons.staticPaths
}

const { user } = Astro.params
const person = await contentfulClient.getEntry<StudioAlexUsers>(metaData.persons.idlist[user])
---
<Layout title={`${metaData.title} - ${person.fields.nickname} uses`} styles="size-small">

  <Headline>{`${person.fields.nickname} uses`}</Headline>

  <Paragraph>
    There are times where people ask me about what software or gear I am using.
    <br />This page will serve as a living document for people to always know the latest and greatest.
  </Paragraph>

  <div class="text-center m-10">
    <ButtonLink path={`/${person.fields.nickname.toLowerCase()}/about`} />
  </div>

  <Ruler />

  <Hardware list={person.fields.hardware} />

  {person.fields.uses.map(item => (
    <Uses title={item.title} data={item.items} />
  ))}

  <Paragraph>
    This page is inspired from <a href="https://wesbos.com/uses" target="_blank">Wes Bos' Uses page</a>.
  </Paragraph>
</Layout>
