---
import Headline from '../atoms/Headline.astro'
import Paragraph from '../atoms/Paragraph.astro'
import Ruler from '../atoms/Ruler.astro'

export interface ServiceType {
  title: string,
  description: string
}

export interface Props {
	email: string,
  profile: string,
  services?: ServiceType[]
  usesPath: string
}

const { email, profile, services, usesPath } = Astro.props;
---
<div class="introduce">
  <Ruler />
  <div set:html={profile}></div>

  <Paragraph>
    I can help your team with:
  </Paragraph>

  <ul>
    { services.map(service => (
      <li>
        <h3>{service.title}</h3>{service.description}
      </li>
    ))}
  </ul>

  <Paragraph>
    If this sounds like something you're interested in, send me an
    <a aria-label="Send an email to us" href={`mailto:${email}`}>email</a>!
  </Paragraph>

  <Ruler />

  <Headline>Uses</Headline>

  <Paragraph>
    I am often asked about the specifics of some piece of software or hardware I use,
    so <a href={usesPath}>this page</a> will serve as a living document and a place to point curious designers and developers
    to when I get asked.
  </Paragraph>
  
  <Paragraph>
    Also, take some time and check out <a aria-label="Link to uses.tech at GitHub" href="https://uses.tech" target="_blank">//uses.tech</a> where many other great developers show what they are using.
  </Paragraph>
</div>

<style is:global>
.introduce {
  max-width: var(--screen-size--narrow);
  margin: 2rem auto;
  color: var(--theme-color-text);

  ul {
    font-weight: 400;
    margin: 6rem 0;

    li {
      margin-bottom: 2rem;
      margin-left: 1rem;
      line-height: 1.5;
      color: var(--theme-color-text);
    }

    h3 {
      margin-left: -1rem;
      font-weight: 600;
      color: var(--theme-color-text--intense);
    }
  }
}
</style>
