---
import Tag from '../../components/atoms/Tag.astro'
import { Image } from '@astrojs/image/components'
import { formatDate } from '../../lib/helper'

import type { ImageData } from '../atoms/Seo.astro'

export interface Props {
  path: string
  title: string
  description: string
  image: ImageData
  date: Date
  tags: string[]
}

const { path, title, description, image, date, tags } = Astro.props as Props
---
<article class="tip-card">
  <div class="tip-thumbnail-wrap">
    <a href={path}>
      <Image
        src={image.src}
        alt={image.alt}
        height={400}
        width={700}
        format="webp"
        fit="cover"
        quality={80}
        aspectRatio="2:1"
      />
      <!-- img class="tip-image" src={`/assets/${image}`}/-->
    </a>
  </div>
  <div class="tip-article">
    <header>
      {
        tags.map(tag => (<a href={path}><Tag>{tag}</Tag></a>))
      }
    </header>
    <a href={path}>
      <h2>{title}</h2>
    </a>
    <p>{description}</p>
    <footer>
      <div class="tip-article-date">{formatDate(date)}</div>
      <a href={path}>READ</a>
    </footer>
  </div>
</article>

<style>
  .tip {
    &-card {
      display: flex;
      flex-direction: column;
      background: #fff;
      color: #474747;
      border-radius: 8px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      filter: drop-shadow(0 5px 15px rgba(0,0,0,.24));
    }
    &-image {
      display: block;
      height: 250px;
      width: 100%;
      object-fit: cover;
    }
    &-thumbnail-wrap {
      position: relative;
    }
    &-article {
      flex: 1;
      position: relative;
      z-index: 5;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;

      header {
        margin-bottom: 0.5rem;
      }

      h2 {
        color: var(--color-grey--5);
        font-size: clamp(1.8rem,1.8rem + .2vw,3rem);
        font-weight: 800;
        line-height: 1.1;
        margin-bottom: 1.5rem;
      }

      P {
        flex: 1 1 auto;
        margin: 0 0 1.5rem;
      }

      footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;

        a {
          margin: 0 0 0 1rem;
          text-transform: uppercase;
          color: var(--color-grey--5);
          font-weight: 600;
          outline: 2pt solid transparent;

          &:hover, &:focus {
            color: var(--theme-color-brand);
            font-weight: 700;
          }
        }
      }

      &-date {
        flex: 1 1 auto;
      }
    }
    
  }
</style>
