---
import Headline from '../atoms/Headline.astro'
import Ruler from '../atoms/Ruler.astro'
import Icon from '../atoms/Icon.astro'

export interface ProjectType {
  title: string
  description: string
  image?: string
  path?: string
  wip?: boolean
}

export interface Props {
  data: ProjectType[]
}

const { data } = Astro.props
---
<div class="project">
  <Ruler />
  <Headline>Projects</Headline>
  <div class="project-list">
    {
      data.map(project => (
        <div class:list={[ 'project-item', { wip: project.wip === true }]}>
          <header>
            <h2>{project.title}</h2>
            {project.image && <Icon name={project.image} />}
          </header>
          <p class="project-description">
            {project.description}
          </p>
          {project.path && <footer>
            <a href={project.path}
              target="_blank"
              class="project-link"
              aria-label={`Visit our project ${project.title}`}>
              Visit
            </a>
          </footer>}
        </div>
      ))
    }
  </div>
</div>

<style>
.project {
  padding: 2rem;
  
  &-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    margin: 2rem -1rem;
  }
  
  &-item {
    position: relative;
    flex: 1 1 auto;
    align-self: auto;
    min-height: 200px;
    min-width: 300px;
    width: 30%;
    padding: 1rem 1rem 2rem 1rem;
    background-color: var(--theme-color-background--soft);
    margin: 1rem;
    border-radius: 6pt;
    box-sizing: border-box;

    &.wip {
      opacity: 0.5;
    }

    header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: center;

      h2 {
        flex: 1 1 auto;
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--theme-color-text--intense);
        margin: 2rem 0;
      }

      svg {
        height: 80px;
        opacity: 0.8;
      }
    }

    footer {
      text-align: right;
    }
  }

  &-description {
    margin: 1rem 0;
    line-height: 1.6rem;
  }

  &-link {
    bottom: 1rem;
    right: 1rem;
    border: 1px solid var(--theme-color-brand);
    border-radius: 999em;
    padding: 0.1rem 1rem;
    &:hover {
      background-color: var(--theme-color-brand);
      color: var(--theme-color-background--intense);
    }
  }
}
</style>
