---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

import metaData from '../data/meta.json'
import siteData from '../data/site.json'

import '../styles/styles.postcss'

export interface Props {
	title?: string;
	styles?: string;
	backgroundClass?: string;
}

const {
	title = siteData.title,
	styles = false,
	backgroundClass = false
} = Astro.props

const contentClass = ['layout-content']
const backgroundClasses = ['layout']

if (styles) {
	contentClass.push(styles)
}

if (backgroundClass) {
	backgroundClasses.push(backgroundClass)
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta name="description" content={metaData.description}>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.studioalex.dev">
    <meta property="og:type" content="website">
    <meta property="og:title" content={metaData.title}>
    <meta property="og:description" content={metaData.description}>
    <meta property="og:image" content={metaData.image}>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content={metaData.domain}>
    <meta property="twitter:url" content={metaData.url}>
    <meta name="twitter:title" content={metaData.title}>
    <meta name="twitter:description" content={metaData.description}>
    <meta name="twitter:image" content={metaData.image}>

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="site.webmanifest">
		<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#2b5797">
		<meta name="theme-color" content="#489442">
  </head>
  <!-- Google tag (gtag.js) -->
  <!--script async src="https://www.googletagmanager.com/gtag/js?id=G-2SF5PBDTJ3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-2SF5PBDTJ3');
  </script -->
  <!--
                                            ,,╓,
                                          ╓████████▄
                              ,╓▄▄▄xæ▄▄▄▓██████████▌
                        ,æ▀▀╙─            └╙▀▀██████
                    ,Æ▀└                        ╙▀█▌
                  ▄▀                               └▀▄
          ▄▓███▓▄Æ└                                    ▀▄
        ▓███████╙                           ▄▄▓▓▄▄▄,     ▀
      ▐██████▀                           ▄███████████▄   ╙µ    ▄▓██▓▄,
      └█████▀                           j██████████████   ╟  ▄██'▐▌.███
        ╙███▀                            ▐█▌ '██████████▌   █▓█ ╫█▀▀█▌ █▌
          ╙▌        ,▄██▓▄,               ██▓▓██████████▌   ╟███▀    ╙███
          ╫       ▄█████████▄              ▀███████████▀    ▐███▌    ▄███
          █      ████████╙ ▐█▌     ██▀       ╙▀▀██▀▀▀╙      █████████████
          █     █████████▄▄███                    ░░ '     ▄████████████▌
          ╟     ██████████████          ▄^                ▓█████████████
          ▌    ╟████████████      ▀══▀╙                ▄██████████████
          ╙▌    ╙████████▀└                         ╓▓█████████████▀─
            ▌     ─╙▀▀╙─  '░                    ▄▄██████████████▀▀
              ╙▄         ''                 ▄æ▀╙─ └╙╙▀▀▀▀▀█▀▀▀╙─
                ╙¼,                   ╓▄ª▀╙─              ╙µ
                  ╙▀╗▄╓,,,,,,▄▄▄M▀▀╙─                     █
                      ╟█████████▌                          ▐▄▄,
                      ██████████▌                          [████▄
        Hi there      ███████████▌                         '█████▌  ╓▄▄▄,
                  ▄▄██████████████▄                      ,▐█████████▀█▀███µ
                ,███▀████████████████▓,                   ░█████████ ▐▌,█^╟█µ
              ]█▌╙█'╟▌█████████████████▄               ;░█████████▀╙╙╙██▓▀█▌
              ▐██▄██▀▀▀██████████████████▄           ;░╓█████████'     █▒╓█
                █.╙█    ╙██████████████████▌      ,≤░',▓█████████▒     .███¬
                └███      ╟█████████████████░░░│''',▄▀╙╙╙╙╙███████,  ,▄██▀
                  ▀██▄    ▓████████████████▀,▄▄▄╧▀╙        ╙███████████▀
                    ▀███████████▀╙▀▀▀▀▀▀▀╙└└─                 ╙▀▀▀▀▀└
                      ─╙▀▀▀▀▀▀╙
  -->
	<body>
		<div class={backgroundClasses.join(' ')}>
			<Header title="&lt;studio-alex/&gt;" />
			<main class={contentClass.join(' ')}>
		    <slot />
		  </main>
			<Footer />
		</div>
	</body>
</html>

<style>
  .layout {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--theme-color-text);
    font-family: 'Montserrat', sans-serif;
    z-index: 0;

    &.background--praha {
      background-image: url("/images/karluvmost.jpg");
      background-repeat: no-repeat;
      background-position: 0 -40vh;
      background-size: 100vmax;
      transition: background 1s;

      @media only screen and (max-width: 2400px) {
        background-position: 0 -20vh;
      }
    }

    &-content {
      flex: 1 1 auto;
      align-self: auto;

      &.flex {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
      }
      
      &.flex-distribute {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: stretch;
        align-items: stretch;
      }

      &.flex-center {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: stretch;
      }


      &.size-full {
        max-width: var(--screen-size--bright);
        margin: 0 auto;
      }

      &.size-small {
        max-width: var(--screen-size--small);
        padding: 0 2rem;
        margin: 0 auto;
      }
    }
  }
</style>
