---
import { site } from '../lib/getSiteInfo'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

import '../styles/styles.postcss'

export interface Props {
	title?: string;
	styles?: string;
	backgroundClass?: string;
}

const meta = {
  url: 'https://www.studioalex.dev',
  domain: 'studioalex.dev',
  title: 'Studio Alex dev',
  description: 'Alex Studio provides custom software development services backed by proven expertise in IT and considerable portfolio of successfully completed international projects. Our projects range from single-purpose tasks for small businesses to highly complex, multi-platform systems for large corporate clients.',
  image: 'https://www.studioalex.dev/images/screen_studioalex.png'
}

const {
	title = site.fields.title,
	styles = false,
	backgroundClass = false
} = Astro.props

const contentClass = ['abc-layout-content']
const backgroundClasses = ['abc-layout']

if (styles) {
	contentClass.push(styles)
}

if (backgroundClass) {
	backgroundClasses.push(backgroundClass)
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta name="description" content={meta.description}>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.studioalex.dev">
    <meta property="og:type" content="website">
    <meta property="og:title" content={meta.title}>
    <meta property="og:description" content={meta.description}>
    <meta property="og:image" content={meta.image}>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content={meta.domain}>
    <meta property="twitter:url" content={meta.url}>
    <meta name="twitter:title" content={meta.title}>
    <meta name="twitter:description" content={meta.description}>
    <meta name="twitter:image" content={meta.image}>

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="site.webmanifest">
		<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#2b5797">
		<meta name="theme-color" content="#489442">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2SF5PBDTJ3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-2SF5PBDTJ3');
  </script>
  <!--
                                            ,,╓,
                                          ╓████████▄
                              ,╓▄▄▄xæ▄▄▄▓██████████▌
                        ,æ▀▀╙─            └╙▀▀██████
                    ,Æ▀└                        ╙▀█▌
                  ▄▀                               └▀▄
          ▄▓███▓▄Æ└                                    ▀▄
        ▓███████╙                           ▄▄▓▓▄▄▄,     ▀
      ▐██████▀                           ▄███████████▄   ╙µ    ▄▓██▓▄,
      └█████▀                           j██████████████   ╟  ▄██'▐▌.███
        ╙███▀                            ▐█▌ '██████████▌   █▓█ ╫█▀▀█▌ █▌
          ╙▌        ,▄██▓▄,               ██▓▓██████████▌   ╟███▀    ╙███
          ╫       ▄█████████▄              ▀███████████▀    ▐███▌    ▄███
          █      ████████╙ ▐█▌     ██▀       ╙▀▀██▀▀▀╙      █████████████
          █     █████████▄▄███                    ░░ '     ▄████████████▌
          ╟     ██████████████          ▄^                ▓█████████████
          ▌    ╟████████████      ▀══▀╙                ▄██████████████
          ╙▌    ╙████████▀└                         ╓▓█████████████▀─
            ▌     ─╙▀▀╙─  '░                    ▄▄██████████████▀▀
              ╙▄         ''                 ▄æ▀╙─ └╙╙▀▀▀▀▀█▀▀▀╙─
                ╙¼,                   ╓▄ª▀╙─              ╙µ
                  ╙▀╗▄╓,,,,,,▄▄▄M▀▀╙─                     █
                      ╟█████████▌                          ▐▄▄,
                      ██████████▌                          [████▄
        Hi there      ███████████▌                         '█████▌  ╓▄▄▄,
                  ▄▄██████████████▄                      ,▐█████████▀█▀███µ
                ,███▀████████████████▓,                   ░█████████ ▐▌,█^╟█µ
              ]█▌╙█'╟▌█████████████████▄               ;░█████████▀╙╙╙██▓▀█▌
              ▐██▄██▀▀▀██████████████████▄           ;░╓█████████'     █▒╓█
                █.╙█    ╙██████████████████▌      ,≤░',▓█████████▒     .███¬
                └███      ╟█████████████████░░░│''',▄▀╙╙╙╙╙███████,  ,▄██▀
                  ▀██▄    ▓████████████████▀,▄▄▄╧▀╙        ╙███████████▀
                    ▀███████████▀╙▀▀▀▀▀▀▀╙└└─                 ╙▀▀▀▀▀└
                      ─╙▀▀▀▀▀▀╙
  -->
	<body>
		<div class={backgroundClasses.join(' ')}>
			<Header title="&lt;studio-alex/&gt;" />
			<main class={contentClass.join(' ')}>
		    <slot />
		  </main>
			<Footer />
		</div>
	</body>
</html>
