---
export interface Props {
  title: string;
  description: string;
  image: string;
  link?: string;
}

const {
  title,
  description,
  image,
  link
} = Astro.props as Props
---
<a href={link}
  target="_blank"
  class="application-link"
  aria-label={`Link to ${title}`}>
  <div class="application">
    <div class="application-icon">
      <img src={image} />
    </div>
    <div class="application-description">
      <h3>{title}</h3>
      <p>{description}</p>
    </div>
  </div>
</a>

<style>
  .application {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--theme-color-background--intense);

    &-icon {
      flex: 0 0 auto;
      align-self: auto;
      padding: 0 1rem;
      
      img {
        width: 50px;
      }
    }

    &-description {
      flex: 1 1 auto;
      align-self: auto;
      padding: 0 2rem;

      h3 {
        color: var(--theme-color-text--intense);
        font-size: var(--font-size--h5);
        font-weight: 500;
        margin: 0 0 1rem 0;
      }
      
      p {
        line-height: 1.6rem;
        font-weight: 400;
        color: var(--theme-color-text--soft);
        margin: 1rem 0;
      }
    }

    &-link:hover {
      .application {
        background-color: var(--theme-color-background--soft);
        border-radius: 6px;
      }
    }
  }
</style>
