---
import Application from './Application.astro'

export interface Items {
  title: string
  description: string
  link?: string
  image?: string
}
export interface Props {
	title: string
  data: Items[]
}

const { title, data } = Astro.props
---

<section class="uses">
  <h2 class="uses-title">{title}</h2>
  <div class="uses-list">
    { data.map(product => (
      <Application
        title={product.title}
        description={product.description}
        image={product.image}
        link={product.link} />
    ))}
  </div>
</section>

<style>
  .uses {
    margin: 4rem 0;
    transition: margin 1s;
    
    &-list {
      margin-left: 5rem;
      transition: margin 1s;
    }

    &-title {
      color: var(--theme-color-text--dark);
      font-size: var(--font-size--h4);
      font-weight: 500;
      margin: 1rem 0;
    }
  }

  @media only screen and (max-width: 1200px) {
    .uses {
      margin: 2rem 0;

      &-list {
        margin-left: 0;
      }
    }
  }
</style>
